.orderDetailsPage {
  background-color: white;
}

.orderDetailsContainer > h1 {
  font-size: 3vmax;
  margin: 4vmax 0;
  color: slateblue;
}

.orderDetailsContainer {
  padding: 5vmax;
  padding-bottom: 0%;
}

.orderDetailsContainer > p {
  font-size: 1.8vmax;
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
  margin: 2vmax;
}

.orderDetailsContainerBox > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1vmax 0;
}

.orderDetailsContainerBox > div > p {
  font-size: 1.2vmax;
  font-weight: bold;
}
.orderDetailsContainerBox > div > span {
  margin-left: 1.5vmax;
  font-size: 1vmax;
  font-weight: 500;
  color: #575757;
}

.orderDetailsCartItems > p {
  font-size: 1.8vmax;
}

.orderDetailsCartItems {
  padding: 2vmax 5vmax;
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  font-size: 1vmax;
  align-items: center;
  margin: 2vmax 0;
}

.orderDetailsCartItemsContainer > div > img {
  width: 10vmax;
  height: 8vmax;
  object-fit: contain;
}

.orderDetailsCartItemsContainer > div > a {
  color: #575757;
  margin: 0 2vmax;
  width: 60%;
  text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
  font-size: 1vmax;
  color: #5e5e5e;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .orderDetailsContainer > p {
    font-size: 6vw;
  }

  .orderDetailsContainerBox > div {
    margin: 6vw 0;
  }

  .orderDetailsContainerBox > div > p {
    font-size: 4vw;
    white-space: nowrap;
  }
  .orderDetailsContainerBox > div > span {
    font-size: 4vw;
    margin-left: 20px;
  }

  .orderDetailsCartItems > p {
    font-size: 6vw;
  }

  .orderDetailsCartItemsContainer > div {
    font-size: 4vw;
    margin: 4vw 0;
    border: 1px solid black;
    padding: 0.5vmax;
  }

  .orderDetailsCartItemsContainer > div > img {
    width: 15vw;
    object-fit: contain;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 2vw;
    width: 30%;
  }

  .orderDetailsCartItemsContainer > div > span {
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
