.shippingBox {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.shippingHeading {
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  font-size: 1.5vmax;
  font-weight: bolder;
  padding: 1vmax;
  text-decoration: underline;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.205); */
  width: 100%;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vmax;
  transition: all 0.5s;
  /* background: #000; */
}

.form-input {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin-bottom: 15px;
}

.form-input > select {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding: 0.5vmax;
}

.shippingBtn {
  border: none;
  width: 100%;
  padding: 0.8vmax;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .shippingContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
  }
  .shippingBox {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .shippingHeading {
    font-size: 3vmax;
    height: auto;
  }
  .shippingForm {
    padding: 5vmax;
  }
  .shippingForm > div {
    width: 100%;
  }
  .shippingBtn {
    font-size: 1.9vmax;
    padding: 1.8vmax;
  }
}
